// TODO:主题自行配置处理
html.dark {
  // 富文本样式
  --w-e-textarea-bg-color: var(--el-bg-color);
  --w-e-textarea-color: #fff;
  --w-e-toolbar-bg-color: var(--el-bg-color);
  --w-e-toolbar-border-color: var(--el-border-color);
  --w-e-toolbar-color: var(--el-text-color-regular);
  --w-e-toolbar-active-bg-color: var(--el-fill-color);
  --w-e-toolbar-active-color: var(--el-text-color-regular);
}
