.ex-codemirror {
  width: 100%;
  outline: 1px solid;
  outline-color: var(--el-border-color);

  .cm-editor {
    outline: none;
  }

  .cm-focused {
    border: none !important;
  }

  .cm-scroller {
    font-family: inherit;
    line-height: 1.6;
    font-size: 12px;
  }
}
