.ex-form-layout {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background-color: var(--el-bg-color);

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #bab8b8;
  }

  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: none;
  }

  .ex-layout-container {
    min-width: 1200px;
    height: 100%;
  }

  .ex-layout-aside_left {
    width: 260px;
    height: 100%;
  }

  .ex-layout-aside_right {
    width: 300px;
    height: 100%;
  }

  .ex-layout-header {
    padding: 0;
    // height: 40px;
    height: auto;
  }

  .ex-layout-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .ex-layout-child {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .el-button {
    line-height: normal;
  }
}

.ex-widget-container {
  flex: 1;
  position: relative;

  .ex-widget-container-box {
    position: absolute;
    width: 100%;
    height: 100%;
    // padding: 0 10px;
    box-sizing: border-box;

    .ex-widget-box-scrollbar {
      width: 100%;
      height: 100%;
      box-sizing: border-box;

      .el-scrollbar__wrap {
        background: var(--el-bg-color);
        padding: 0 10px;
        box-sizing: border-box;
      }
    }
  }
}

.ex-icon-ft-20 {
  font-size: 20px;
}

.ex-icon-ft-16 {
  font-size: 16px;
}

.ex-mgt-10 {
  margin-top: 10px;
}

.ex-mgr-10 {
  margin-right: 10px;
}

.ex-mgb-10 {
  margin-bottom: 10px;
}

.ex-mgl-10 {
  margin-left: 10px;
}

.ex-form-draggable {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.ex-drag-tainer {
  display: flex;
  align-items: center;
  height: 26px;
  border-radius: 3px;
  border: 1px solid;
  border-color: var(--el-border-color);
  color: var(--el-text-color-regular);
  padding: 2px 8px;
  font-size: 13px;
  cursor: move;
}

.ex-drag-tainer:hover {
  border-color: var(--el-color-primary) !important;
  background-color: var(--el-color-primary-light-7);
  color: var(--el-color-primary) !important ;
}

.ex-ghost {
  content: "";
  font-size: 0;
  height: 3px;
  box-sizing: border-box;
  background: var(--el-color-primary);
  border: 3px solid var(--el-color-primary);
  outline-width: 0;
  padding: 0;
  overflow: hidden;
  margin: 0;
  border-radius: 0;
}

.ex-radio-group {
  .el-radio-button {
    flex: 1;
  }

  .el-radio-button__inner {
    width: 100%;
    // height: 40px;
    line-height: 20px;
    border-radius: 0 !important;
  }
}

.el-collapse-item__header {
  font-style: italic;
  font-weight: 700;
}

.ex-setting-label {
  .el-form-item__label {
    font-size: 13px;
    font-weight: 400;
  }

  .el-form-item--small {
    margin-bottom: 5px !important;
  }
}

.ex-toolbar {
  .ex-toolbar-drawer_tree {
    .el-tree-node {
      position: relative;
      padding-left: 20px;
      font-size: 13px;
    }

    .el-tree-node::before {
      content: "";
      position: absolute;
      border-left: 1px dashed var(--el-color-primary);
      left: 5px;
      height: 100%;
      top: 0;
      width: 1px;
    }

    .el-tree-node::after {
      content: "";
      left: 5px;
      position: absolute;
      border-width: 1px;
      border-top: 1px dashed var(--el-color-primary);
      height: 20px;
      top: 12px;
      width: 15px;
    }

    .el-tree-node__content {
      padding: 0 !important;
      height: 26px;
    }

    .el-tree-node__expand-icon {
      padding: 0 !important;
    }

    .is-leaf {
      display: none;
    }

    .el-tree-node__label {
      padding-left: 5px;
    }

    .el-tree-node.is-current > .el-tree-node__content {
      background-color: var(--el-color-primary-light-3);
      color: #fff;
    }
  }

  .el-drawer__header {
    margin: 0;
  }
}

.ex-toolbar-header {
  display: flex;
  justify-content: space-between;
  // height: 40px;
  padding: 2px 20px;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: var(--el-border-color);

  .ex-toolbar-header-left {
    width: 325px;
    display: flex;
    align-items: center;

    .ex-operation {
      margin-right: 20px;
    }
  }

  .ex-toolbar-header-right {
    display: flex;
    height: 100%;
  }

  .el-scrollbar__view {
    height: 100%;
  }
}

.ex-form-widget {
  width: 100%;
  height: 100%;
  background: #f4f4f4;
  display: flex;
  padding-top: 10px;
}

.ex-box-pc {
  width: 100%;
  border: 1px solid;
  border-color: var(--el-border-color);
  border-radius: 0 !important;
}

.ex-box-pad,
.ex-box-h5 {
  border: 10px solid #000;
  border-radius: 30px !important;
}

.ex-box-pad {
  max-width: 960px;
  margin: 0 auto;
}

.ex-box-h5 {
  max-width: 460px;
  margin: 0 auto;
}

.ex-designer-forms {
  width: 100%;
  height: 100%;

  .el-card__header {
    padding: 0;
  }
}

.ex-tips {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  text-align: center;
  color: var(--el-color-primary-light-3);
}

.ex-dialog-box {
  .name-front,
  .name-back {
    padding: 10px;
    background-color: var(--el-fill-color-light);
    outline: 1px solid;
    outline-color: var(--el-border-color);
    color: var(--el-text-color-secondary);
    font-size: 14px;
  }

  .name-front {
    border-radius: 5px 5px 0 0;

    .lang {
      font-weight: bold;
    }
  }

  .name-back {
    border-radius: 0 0 5px 5px;
  }
}

.ex-forms-container {
  flex: 1;
  position: relative;
  border: 1px solid;
  border-color: var(--el-border-color);
  background: var(--el-fill-color);

  .ex-forms-container-box {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;

    .ex-forms-box-scrollbar {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border-radius: 10px;
      background: var(--el-bg-color);

      .el-scrollbar__wrap,
      .el-scrollbar__view {
        width: 100%;
        height: 100%;
      }

      .el-scrollbar__view {
        padding: 10px;
        box-sizing: border-box;
      }
    }
  }
}

.container-draggable {
  width: 100%;
  height: 100%;
}

.ex-widget-temp {
  .ex-temp-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }
}

.ex-popup-box,
.ex-side-drawer {
  display: table;
  position: relative;
  width: 100%;
  height: 100px;
  border: 1px dashed var(--el-color-primary);
  padding: 4px;
  box-sizing: border-box;
  margin: 5px 0;
}

.ex-tree-buttons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
