label {
  font-weight: 400;
}

.ex-fields_alert {
  padding: 2px;
}

.ex-fields_divider {
  min-height: 30px;
  padding: 1px;
}

.ex-fields_text {
  min-height: 30px;
}

.ex-slot {
  height: 30px;
  background: linear-gradient(
    45deg,
    var(--el-color-primary-light-7) 25%,
    var(--el-color-primary-light-3) 0,
    var(--el-color-primary-light-3) 50%,
    var(--el-color-primary-light-7) 0,
    var(--el-color-primary-light-7) 75%,
    var(--el-color-primary-light-3) 0
  );
  background-size: 20px 20px;
}

.ex-rich-text {
  border: 1px solid;
  border-color: var(--el-border-color);
  // z-index: 99999;

  .ex-rich-text_toolbar {
    border-bottom: 1px solid;
    border-color: var(--el-border-color);
  }

  .ex-rich-text_editor {
    height: 400px !important;
    overflow-y: hidden;
  }
}
