.ex-render {
  width: 100%;
  height: 100%;
  display: flex;
}

.ex-render-form {
  width: 100%;
  height: 100%;
  padding: 10px;

  .ex-table {
    width: 100%;
    table-layout: fixed;
    min-height: 40px;
    border-collapse: collapse;
  }

  .ex-table_th,
  .ex-table_td {
    border: 1px solid;
    border-color: var(--el-border-color);
  }

  .ex-table_td {
    height: 40px;
  }
}
