.ex-render-form {
  table {
    width: 100%;
    min-height: 40px;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid;
    border-color: var(--el-border-color);
  }

  td {
    height: 40px;
  }
}
