@use "./variables.scss" as *;

// 颜色
@mixin font_color($color) {
  color: $color;

  [class="dark"] & {
    color: $font-color-white;
  }
}
// 背景颜色
@mixin bg_color($color) {
  background-color: $color;

  [class="dark"] & {
    background-color: $background-color-dark;
  }
}
// 边框颜色
@mixin br_color($color) {
  border-color: $color;

  [class="dark"] & {
    border: $border-color-white;
  }
}

@mixin br_bottom_color($color) {
  border-bottom: $color;

  [class="dark"] & {
    border: $border-color-white;
  }
}

@mixin br_top_color($color) {
  border-top: $color;

  [class="dark"] & {
    border: $border-color-white;
  }
}

@mixin br_right_color($color) {
  border-right: $color;

  [class="dark"] & {
    border: $border-color-white;
  }
}
