// 背景颜色
$background-color-white: #fff !important;
$background-color-dark: #191a20 !important;

// 字体颜色
$font-color-dark: #191a20 !important;
$font-color-white: #fff !important;

$border-color-white: #7d7d7d !important;
$border-color-dark: #b6b6b6 !important;

$background-color-gray: #f0f2f5;
