:root {
  --vp-button-brand-bg: #409eff;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(180deg, #409eff 20%, #8fd3f4);
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #409eff 30%,
    #8fd3f4
  );
  --vp-home-hero-image-filter: blur(180px);
  --vp-c-brand-1: #409eff;
  --vp-sidebar-bg-color: #fff;
  --vp-primary-color: #409eff;
}

.VPNav {
  .VPNavBar {
    border-bottom: 1px solid rgba(60, 60, 67, 0.13);
  }

  .VPNavBar.has-sidebar {
    .curtain {
      bottom: -30px !important;

      &::before {
        margin-top: 2px !important;
      }
    }
  }

  .title {
    font-size: 20px;
    border-bottom-color: transparent !important;
  }
}

.VPNavBarSearch {
  justify-content: flex-end;
}

.VPContent {
  .VPDoc {
    padding-left: 0 !important;
  }

  .content-container {
    margin-left: 20px !important;
  }

  .container .text {
    font-size: 46px !important;
  }
}

.dark {
  --vp-sidebar-bg-color: #1b1b1f;

  .VPNav .VPNavBar {
    background-color: transparent;
    border-bottom: 1px solid #000;
  }
}

.outline-link.active {
  color: var(--vp-primary-color) !important;
}
